* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

.container {
	margin: 0 auto;
	width: 960px;
	position: relative;
	border: 1px solid red;
}

.forms {
	width: 630px;
	position: absolute;
	left: 0;
	border: 1px solid red;
	height: 100px;
}

#search-result-buttons {
	width: 310px;
	position: absolute;
	left: 0;
	top: 110px;
	height: 400px;
	border: 1px solid red;
}

#path {
	width: 310px;
	position: absolute;
	right: 0;
	border: 1px solid red;
	height: 600px;
}

#related-artist-buttons {
	width: 630px;
	position: absolute;
	left: 0;
	top: 110px;
	height: 400px;
	border: 1px solid red;
}

.button {
	margin: 5px;
	display: inline-block;

}

li {
	margin: 5px;
	display: inline-block;

}



.hidden {
	display: none;
}
