<div>
<h3>Select a Challenge</h3>
	<ul id="challenge-list">
	<% @challenges.each do |challenge| %>
		<li class="challenge"><a href="/challenges/<%= challenge.id %>">
			<%= challenge.start_name %> to <%= challenge.end_name %></a>
		</li>
	<% end %>
		
	</ul>
</div>